.pronostic-set .card {
    cursor: pointer;
    margin-top: 20px;
}
.pronostic-set .card .card-hover {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
}

.pronostic-set .card .card-group {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 3;
}

.pronostic-set .card .card-group-hover {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    z-index: 4;
}

.pronostic-set .card .goals {
    font-weight: bolder;
}

.pronostic-set .card [class^='col-'] {
    text-align: center;
}

.pronostic-set .col-12 {
    margin-top: 25px;
    margin-bottom: 0;
}

.pronostic-set .col-12 h5 {
    position: relative;
    z-index: 2;
}

.pronostic-set .col-12 h5 span {
    background: rgb(240, 240, 240);
    padding-right: 10px;
}

.pronostic-set .col-12 hr {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}