.pronostic-set .card {
    margin-top: 20px;
    background: rgba(240, 240, 240, 1);
    border: 2px solid rgba(70,70,70,1);
    border-radius: 0;
}

.card-day-col,
.pronostic-set .card:not(.edit) {
    cursor: pointer;
}

.pronostic-set .card.done {
    background: rgba(70,70,70,1);
    color: #FFF;
}

.pronostic-set .card.ended {
    cursor: default;
}

.pronostic-set .card .card-hover {
    display:none;
    position: absolute;
    background: rgba(0,0,0,0.7) url(/assets/img/icon-edit-white.svg) no-repeat center center;
    background-size: 20%;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    -webkit-transition: all 750ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
}

.pronostic-set .card:hover:not(.ended):not(.edit) .card-hover {
    display: block;
}

.pronostic-set .card .card-group {
    position: absolute;
    background: rgba(240, 240, 240, 1);
    border: 2px solid rgba(70,70,70,1);
    left: 50%;
    padding: 0;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 3;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.pronostic-set .card .card-group span {
    width: 100%;
    padding-top: 6px;
}
.pronostic-set .card.done .card-group {
    background: rgba(70,70,70,1);
}

.pronostic-set .card .card-group-hover {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    z-index: 4;
    -webkit-transition: all 750ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
}
.pronostic-set .card:hover:not(.ended):not(.edit) .card-group-hover {
    display: block;
}

.pronostic-set .card .goals {
    font-weight: bolder;
}

.pronostic-set .post-card {
    z-index: 0;
}
@media (max-width: 991px) {
    .pronostic-set .post-card {
        margin-bottom: 30px;
    }
}
.pronostic-set .post-card .remaining-time {
    width: 50%;
    left: 50%;
    position: absolute;
    margin: -5px 0 0 -25%;
    border: solid 2px rgba(0,0,0,0.7);
}
.pronostic-set .post-card .remaining-time,
.pronostic-set .post-card .match-in-play,
.pronostic-set .post-card .match-finished {
    width: 50%;
    left: 50%;
    position: absolute;
    margin: -5px 0 0 -25%;
    border: solid 2px rgba(0,0,0,0.7);
}

.pronostic-set .card [class^='col-'] {
    text-align: center;
}

.pronostic-set .card .card-body .prediction-icon, .pronostic-set .card .card-body .ball-icon {
    width: 24px;
    position: absolute;
    left: -2px;
}

.pronostic-set .card.done .icon-black,
.pronostic-set .card .icon-white {
    display: none;
}

.pronostic-set .card .icon-black,
.pronostic-set .card.done .icon-white {
    display: inline;
}

.pronostic-set .card .card-body [class^='result-'] {
    font-weight: bolder;
}

.pronostic-set .card.edit span[class^='prediction-'],
.pronostic-set .card input[type='text'] {
    display: none;
}

.pronostic-set .card span[class^='prediction-'],
.pronostic-set .card.edit input[type='text'] {
    display: inline;
}

.pronostic-set .card form > button {
    display: none;
    position: absolute;
    bottom: 2px;
    right: -20px;
    padding: 2px 2px;
    height: 30px;
    border-radius: 1rem;
}
.pronostic-set .card.edit form > button {
    display: inline;
}
.pronostic-set .col-12 {
    margin-top: 40px;
    margin-bottom: 0;
}

.pronostic-set .col-12 h5 {
    position: relative;
    z-index: 2;
}

.pronostic-set .col-12 h5 span {
    background: rgb(240, 240, 240);
    padding-right: 10px;
}
.pronostic-set .col-12 h5 span.opened,
.pronostic-set .col-12 h5 span.closed {
    background-repeat: no-repeat;
    background-position: 94% 3px;
    background-size: 17px;
    padding-right: 35px;
}
.pronostic-set .col-12 h5 span.opened {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAICSURBVGhD7djLS5RRGMfxqSgqkO4FgkQQBEGLaNEu7EIaJtHtH+gPiIiIiAgqQi3qL4ighQsjNy6CNi7EhZDaBTRaRBBERAQFpd2gvk90Yjj9Gs+M7zvvDDxf+CyU95z3PM44zEzJ8zzP87z824Lz2P37pyZtFz7h5x+n0HTFQwSn0TS14zPiIYIzaPj2oNIQwVk0bHuRMkTQkMPsQzVDBOfQMO1HLUME9vJceB2YgTpgNS6gsGyIWaiD1aKQYTqR5RDBRdStA/gCdZDYBxzBdNnv5nIJudeFr1AHiNkQO2Gtx1Oo65TLyK2DSB3iPXagvLV4BHW9cgWZ143UId5hO1SrMQ61TrmKzDqE1CHeYhsqtRJjUOuVHsy7w0gd4g22IqUVGIXaR+lFzdmrTeoQr2EfoqqpBSNQ+yl9qLqjSB3iFTajlpZjGGpf5TqSO4ZvUBvFXmIT5pMN8wBqf+UG5uw4vkNtEHuBjciipbgPdR/lJv6bPZ1+QC2MPUcbsmwJhqDup8hHZjE+Qi2IPUMr8siGGYS6rxLeOfxtGVL+uaewAXlmf9QBqPvH7PuBfzoJdXHwBOtQjxahH+ocwV0sgMy+4VCLJrEG9cyGuQN1nnuwR65i8TAPsQpFtBC3UH6epCFCJzCB27C3E0VmTx/7wPUY15A8hOd5nud5nueVVSr9As4yy259dqoAAAAAAElFTkSuQmCC);
}
.pronostic-set .col-12 h5 span.closed {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIGSURBVGhD7dhNS1RhGIfx6cVKC0MId32DwI+g0KKl65a5cNEmjF5FFDGRFBVrIyJEIBEpUVFWVEgStBGhRR+iD5CrSq9bfGA8/j0vzXkZ4b7gt3Ccc57nHo5nxql5nud5nud5pdeFOfThmD1QcZfxCL27P6WsB7+xvWcBx1FV1/AHYT+3kFh0iOAJTqDs+vEP0f3EDtMNNUSwhDKHuQ41RHATB7IN/oI6oN5znETR3UDcEOYvLmFfZ2G/UAdEreAUiuo21LrKFRzoAdSTldcoYpj7UOspa5CXut1mZ6EOUt7hDPJqBGodZR12FcU2DXWw8gFtaLQsV8NXJA4RmoI6ifIZjQzzEOq8il1OmdeahDqZYq/SOWTJLuUZqPMpX/DfL1iWV+sb2pEmG+Ix1HmUhoYITUCdXPmO84jLhpiHOl75hDz+Dncbh1pE2UAHVHa7XIQ6TvmI3IYIZbmzbOIC6rMhnkI9X7E7YisKaQxqUeUHOmHZEM+gnqfYEHm+R8lGoRZXfuIiXtQ9luQ9Ch8iNAy1CWVLPHaYVZxGqWUZJo23KPLDaGxDUJvKqtIhQoNQm0vrDSofInQPapNJXqFphgjdhdrsYV6i6YYI3YHadFRTDxGybzjU5oOi/1XONfuGQw2xjBYcqQZQP4S9u5fxDUwhXYV9brL/x4/sEJ7neZ7nlVuttgMcDctwX0jEvwAAAABJRU5ErkJggg==);
}






.pronostic-set .col-12 hr {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

#alert-pronostic-ko,
#alert-pronostic-ok {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 25px;
}
