@import url("https://use.typekit.net/bxu2uqk.css");

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/fifa2018-min.png) center center no-repeat;
    background-size: cover;
    font-size: 16px;
    overflow: hidden;
    color: rgba(242, 242, 242, 1);
}

* {
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6, .lead {
    font-family: "p22-fllw-eaglefeather", sans-serif;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: "p22-fllw-eaglefeather", sans-serif;
    font-size: 50%;
}

h1 .red {
    color: #ed2122;
}

a {
    color: #FFFFFF;
}

a.active {
    font-weight: bolder;
}

a:hover, a:focus, a:active {
    color: rgba(240, 240, 240, 1);
}

.btn, input {
    border-radius: 0;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px rgba(255, 255, 255, 1);
    color: rgba(27, 27, 27, 1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: rgba(27, 27, 27, 1);
    border: solid 2px rgba(27, 27, 27, 1);
    color: rgba(240, 240, 240, 1);
}

.btn-secondary {
    background-color: transparent;
    border: solid 2px rgba(255, 255, 255, 1);
    color: rgba(240, 240, 240, 1);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px rgba(255, 255, 255, 1);
    color: rgba(27, 27, 27, 1);
}

.popover .popover-header {
    color: rgba(27, 27, 27, 1);
    text-align: center;
}

.popover .popover-body {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #F0F0F0;
    z-index: 0;
}

.hide {
    display: none;
}

.inner-col {
    padding: 10px;
}

.row.full-height, .row.full-height > * {
    height: 100%;
}

.jumbotron {
    padding: 10px 20px;
    border-radius: 0;
}

.main-nav-panel {
    padding-top: 35px;
    -webkit-box-shadow: 1px 0 10px 0 rgba(0, 0, 0, .4);
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, .4);
    z-index: 2;
}

.main-nav-panel h1 {
    font-size: 48px;
    line-height: 42px;
    padding: 0 16px;
    margin-bottom: 70px;
}

.main-container {
    overflow: auto;
}

.panel-darkest, .panel-dark {
    color: #F0F0F0;
    padding: 30px;
}

.panel-lightest, .panel-light {
    color: #0F0F0F;
    padding: 30px;
}

.panel-darkest {
    background: rgba(27, 27, 27, 0.94);
}

.panel-dark {
    background-color: rgba(47, 47, 47, .85);
}

.panel-dark h1 {
    font-size: 2.2rem;
}

.panel-lightest {
    background-color: rgba(255, 255, 255, 1);
}

.panel-light {
    background-color: rgba(240, 240, 240, 1);
}

.error-404 {
    background: #FFF url(/assets/img/404.png) no-repeat center center;
    background-size: contain;
}

.loader {
    width: 100%;
    height: 100%;
    background: url(/assets/img/football_loader.gif) no-repeat center center #FFF;
}
